name: OpenTofu Compliance
on: [pull_request]

permissions:
  contents: read
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.8.0
      - run: tofu init -backend=false
      - run: tofu validate
      - run: tofu fmt -check
